body{
    text-align: center;   
    background: linear-gradient(45deg, #EEEEEE, #FAF8F9, #FFFFFF);
}

.board {
    display: grid;
    width: fit-content;
    margin: 0 auto; 
    color: #22223B;
}

.cell.alive {
    background-color: #9095cf;
}

.gameControls{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameButton {
    height: 30px; 
    width: fit-content; 
    min-width: 60px;
    font-size: 15px;
    margin: 10px 5px;
    cursor: pointer;
    color: white;
    background: #9095cf; 
    border: none;
    border-radius: 10px;
}